    <%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/book.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            
            <% if (prods.length > 0) { %>
                <div class="bookContainer">
                    <% for (let book of prods) { %>
                        <article class="card product-item">
                            <header class="card__header">
                                <h1 class="book__title"><%= book.title %></h1>
                            </header>                        
                            <div class="card__content">
                                <h2 class="book__author">By: <%= book.author %></h2>
                                <p class="book__isbn"><span>ISBN: </span> <%= book.isbn %></p>
                                <p class="book__review"> <span>Review: </span> <%= book.review %></p>                            
                            </div>
                            <% if (isAuthenticated) { %>
                            <div class="card__edit">
                                <form action="/edit-review" method="post">
                                    <input type="hidden" value="<%= book._id %>" name="bookId">
                                    <button type="submit"> Edit review</button>
                                </form>
                            </div>
                            <% } %>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
            </main>
<%- include('../includes/end.ejs') %>
